In [ ]:
#contoh list
L1=[1,4,2,13]
print(type(L1))

<class 'list'>

In [ ]:
L2=["a","python",3]

print(type(L2))

<class 'list'>

In [ ]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'python', 3]

In [3]:
#sifat-sifat list
#terurut/ordered
L1=[1,"dua",True,2+3j]
print("memanggil list L1 dengan indeks urutan:", L1[0:3])
#bisa diganti/mutable
L1[1]=2
print("List L1 setelah diganti elementnya:", L1)
#dapat di indeks/slicing
print("slicing list L1", L1[3])
#Dapat diijinkan duplikasi
L1=[1,"dua",True,2+3j,2+3j]
print("duplikasi pada list L1", L1)
#dapat mengubbah data dengan mengganti elemen tertentu
L1[2]=3
print("data setelah diubah:", L1)
#dapat menambahkan elemem baru pada data
L1.append(20)
print("data setelah ditambahkan elemennya:", L1)
#Dapat menghapus elemen pada data
L1.remove(2+3j)
print("data setelah dihapus elemennya :", L1)

memanggil kist L1 dengan indeks urutan: [1, 'dua', True]
List L1 setelah diganti elementnya: [1, 2, True, (2+3j)]
slicing list L1 (2+3j)
duplikasi pada list L1 [1, 'dua', True, (2+3j), (2+3j)]
data setelah diubah: [1, 'dua', 3, (2+3j), (2+3j)]
data setelah ditambahkan elemennya: [1, 'dua', 3, (2+3j), (2+3j), 20]
data setelah dihapus elemennya : [1, 'dua', 3, (2+3j), 20]

In [4]:
#menambahkan data dengan fungsi extend
L1=[1,"dua",True,2+3j,2+3j]
L1.extend("nanas")
print(L1)

[1, 'dua', True, (2+3j), (2+3j), 'n', 'a', 'n', 'a', 's']

In [5]:
#menambahkan data dengan fungsi extend
L1=[1,"dua",True,2+3j,2+3j]
L1.extend(["nanas"])
print(L1)

[1, 'dua', True, (2+3j), (2+3j), 'nanas']

In [6]:
#menambahkan data menggunakan fungsi insert
L1=[1,"dua",True,2+3j,2+3j]
L1.insert(2, 5)
print(L1)

[1, 'dua', 5, True, (2+3j), (2+3j)]

In [7]:
#menghapus elemen dari list menggunakan fungsi pop()
L1=[1,"dua",True,2+3j,2+3j]
L1.pop(2)
print(L1)

[1, 'dua', (2+3j), (2+3j)]

In [8]:
#menghapus elemen dari list menggunakan fungsi pop()
L1=[1,"dua",True,2+3j,2+3j]
L1.pop()
print(L1)

[1, 'dua', True, (2+3j)]

In [10]:
#latihan 1
Latihan=[12,"empat",True,3j+1]

In [11]:
#latihan 2
Latihan[1]=4
print(Latihan)

[12, 4, True, (1+3j)]

In [1]:
#contoh tuple
T1=(1,"dua",True,1+2j)
print("ini adalah tuple :", T1)

ini adalah tuple : (1, 'dua', True, (1+2j))

In [2]:
T11=1,"dua",True,1+2j
print("ini adalah tuple :", T11)

ini adalah tuple : (1, 'dua', True, (1+2j))

In [3]:
#menampilkan tipe struktur data
type(T1)
type(T11)

tuple

In [4]:
#terurut/ordered
T1[0:3]

(1, 'dua', True)

In [5]:
#tidak bisa diganti/imutable
T1[2]="manusia"

TypeError: ignored

In [7]:
#dapat diindeks/slicing
print("elemen kedua dari tuple T1 adalah :",T1[1])

elemen kedua dari tuple T1 adalah : dua

In [8]:
#dapat diijinkan duplikasi
T2=(3,2.4,True,2.4)
T2

(3, 2.4, True, 2.4)

In [9]:
#tidak dapat menambahkan elemen baru
T1=(1,"dua",True,1+2j)
print(f' tuple\t:{T1}')

 tuple	:(1, 'dua', True, (1+2j))

In [10]:
T1.append(10)
T1.append(50)
print(f' tuple\t:{T1}')

AttributeError: ignored

In [11]:
#tidak dapat menghapus elemen
T1=(1,"dua",True,1+2j)
print(f' tuple\t:{T1}')

 tuple	:(1, 'dua', True, (1+2j))

In [12]:
T1.remove(1)
T1.remove("dua")
print(f' tuple\t:{T1}')

AttributeError: ignored

In [14]:
#menggabungkan tuple
T1=(1,3,4)
T2=(3,2,"dua")
T3=T1+T2
T3

(1, 3, 4, 3, 2, 'dua')

In [15]:
#Latihan 1
T4=(1,"tiga",True,2+7j)
T4

(1, 'tiga', True, (2+7j))

In [17]:
#Latihan 2
T5=(4,False,"sepuluh",4+2j)
T6=T4+T5
T6

(1, 'tiga', True, (2+7j), 4, False, 'sepuluh', (4+2j))